/* body {
    padding: 0px;
    margin: 0px;
}

nav {
    background-color: red;
}

nav>div {
    display: flex;
    justify-content: center;
    column-gap: 55px;
    padding: 35px 5%;
    background-color: rgb(30 58 138);

} */